<%- include partials/header.ejs %>

    <h1>Home</h1>
    <% 
        posts.forEach(function(post) {
            
        %>

        <div>
            <h1>
                <%= post.postTitle %>
            </h1>
            <p>
                <%= post.postBody %>
            </p>
        </div>

        <% }); %>


            <%- include partials/footer.ejs %>