<%- include partials/header.ejs %>

    <div>
        <h1>
            <%= returnedPost.postTitle %>
        </h1>
        <p>
            <%= returnedPost.postBody %>
        </p>
    </div>
    <%- include partials/footer.ejs %>